*{
    margin: 0;padding: 0;
}
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#nav_li:hover{
    color: #5ed3f3;
    transition: 1s;
}
#copy{
    background-color: #eae5d6;
    width: 96%;
    justify-items: center;
    text-align: center;
    align-items: center;
}
.main_foot{
    background-color: #eae5d6;
    width: 96%;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin: auto;
    display: flex;
}
.div_foot{
    width: 32%;
}
#subscribe{
    /* background-color: #49bedf; */

/* color: white; */
width: 55%;
margin-top: 15px;
padding: 5px 0px;
}
#subscribe:hover{
    /* background-color: #5ed3f3; */

transition: 0.5s;
}
#footer_email{
width: 55%;
padding: 3px 0px;
padding-left: 5px;

}

#copy{
    text-align: center;
    margin: auto;
}

#map{
    text-align: center;
    /* margin: auto; */
    /* text-align: center; */
    align-items: center;
}
#divmap{
    width: 100%;
    text-align: center;
}

#call{
    position: relative;
    margin-top: 60px;
    text-align: center;
}
#call_img{
    animation: ex infinite 1.5s ;
    width: 45px;
    height:45px;
    /* display: none; */
}
#atel{
    /* border-radius: 50% 0% 0% 50%;
     */
   
     margin: 5px;
}
@keyframes ex{
    0%   { transform: rotate(-30deg);}
    50% { transform: rotate(60deg);   }
    100%  { transform: rotate(-30deg);}
    
  }
